body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #000 url("../images/background-page.jpg") no-repeat center top;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    margin-bottom: 60px;
}

.main-navigation {
    float: left;
    width: 780px;
}

.user-block {
    float: right;
    width: 140px;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.features {
    margin-bottom: 80px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    float: left;
    width: 180px;
    margin-right: 220px;
}

.footer-copyright {
    float: left;
    width: 160px;
}
